/*
dashboard.css
Tela: Dashboard
Projeto Integrador II - Engenharia de Software - 2026
*/

/* RESUMO */

.resumo {
display: flex;
gap: 20px;
margin-bottom: 25px;
}

.card {
background-color: white;
padding: 20px;

border-radius: 10px;

box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

flex: 1;

display: flex;
flex-direction: column;
gap: 8px;

}

.card span {
color: #666;
font-size: 14px;
}

.card strong {
font-size: 28px;
}

/* PAINEL PRINCIPAL */

.painel-dashboard {
display: flex;
gap: 20px;
margin-bottom: 25px;
}

.bloco-dashboard {
background-color: white;

padding: 25px;

border-radius: 10px;

box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

}

.painel-dashboard .bloco-dashboard {
flex: 2;
}

.painel-dashboard .bloco-dashboard {
flex: 1;
}

.bloco-dashboard h3 {
margin-bottom: 20px;
}

/* TABELA */

.bloco-dashboard table {
width: 100%;

border-collapse: collapse;

}

.bloco-dashboard th,
.bloco-dashboard td {
padding: 12px;

border-bottom: 1px solid #ddd;

text-align: left;

}

.bloco-dashboard th {
background-color: #1f2937;
color: white;
}

.bloco-dashboard tr {
background-color: #f0f0f0;
}

/* STATUS */

.status-aberta,
.status-andamento {
display: inline-block;

padding: 5px 9px;

border-radius: 5px;

font-size: 13px;

}

.status-aberta {
background-color: #dbeafe;
color: #1d4ed8;
}

.status-andamento {
background-color: #fef3c7;
color: #92400e;
}

/* PRIORIDADES */

.prioridade-alta,
.prioridade-media {
display: inline-block;

padding: 5px 9px;

border-radius: 5px;

font-size: 13px;

}

.prioridade-alta {
background-color: #fee2e2;
color: #b91c1c;
}

.prioridade-media {
background-color: #fef3c7;
color: #92400e;
}

/* LISTA DE PRIORIDADES */

.item-prioridade {
display: flex;

justify-content: space-between;

align-items: center;

padding: 14px 0;

border-bottom: 1px solid #ddd;

}

.item-prioridade {
border-bottom: none;
}

.item-prioridade span {
color: #555;
}

.item-prioridade strong {
font-size: 18px;
}

/* ACESSO RÁPIDO */

.atalhos {
background-color: white;

padding: 25px;

border-radius: 10px;

box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

}

.atalhos h3 {
margin-bottom: 20px;
}

.botoes-dashboard {
display: flex;
gap: 10px;
}

/* RESPONSIVIDADE */

@media (max-width: 800px) {

.resumo {
    flex-wrap: wrap;
}

.card {
    min-width: 45%;
}

.painel-dashboard {
    flex-direction: column;
}

.botoes-dashboard {
    flex-direction: column;
}

}
